 {% load static %}
<hr>
<div id="about" class="conatiner">

    <h2><span>About Raidu</span></h2>
    <p>With over twenty five years of work in the industry my passion for high fashion has withstood the test of time. I have been lucky to work with some of the most recognised brands in the fashion world, which is reflected in the quality of my work.
    </p>

    <p>Since graduation I have collaborated with fashion designers helping them to construct and create collections for clothing and accessories lines.</p>



    <p>I named my brand Raidu, after an old Nordic rune symbolizing a travel and inner dialogue.</p>
    <p> I believe that clothing and accessories should reflect achievements and appreciation of a unique personality that we gain going through challenges and personal growth on the individual life path. The moral support and encouragement from my family,
        closest friends and work colleagues provided the initial motivation to start my travel to the world of Raidu enterprise. I have recently presented a collection, that includes menswear and some additional clothing and accessories for women.
    </p>


    <p>I hope that luck and creativity will be my faithful companions on this path of new ideas and creations.</p>

    <p>For any questions regarding my brand, orders or collaboration feel free to contact me via email or contact form.</p>

    <img src="{% static 'images/about.png' %}" alt="" class="about-image">
    <p class="signature">Andrey R.</p>
    <p class='title'>RAIDU-MODA founder & CDO</p>
    <p><span><i class="fa fa-paper-plane-o" style="font-size:24px; margin-left: -2%;"></i></span><a class="contact" href="mailto:raidu.moda@gmail.com">raidu.moda@gmail.com</a></p>


</div>
<hr class="about-after">