{% load static %}
<div id="footer">
    <div class="footer-text">
        <h2>About</h2>
        <p>Raidu store sells high quality clothing and accessories. Follow our shop on social media for more details.</p><br>
        <a href="https://www.facebook.com/AndreyDesign" style="margin-right: 2%;" target="blank"><i class="fa fa-facebook-square" style="font-size:36px"></i></a> <a href="https://www.instagram.com/andrey_r_design/" target="blank"><i class="fa fa-instagram" style="font-size:36px"></i></a>
    </div>

    <div class="footer-text">
        <h2>Contact</h2>
        <p> <a href="mailto:raidu.moda@gmail.com">raidu.moda@gmail.com</a></p>
    </div>
</div>